@font-face {
    font-family: 'Ferrari';
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Ferrari-SansRegular.woff') format('woff');
}
@font-face {
    font-family: 'Ferrari';
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Ferrari-SansMedium.woff') format('woff');
}

body {
    --color-primary: #cc0003;
    --color-primary-light: #c44d4f;
    --color-light-background: #e6e6e6;
    --color-light-block: #d1d1d1;
    --color-block: #1b1b1b;
    --color-block-body: #fafafa;
    --color-body: #0e0e0e;
    --color-body-lighter: #494949;

    --size-page-width: 1024px;

    --font-primary: 'Ferrari', sans-serif;
    --font-secondary: 'Poppins', sans-serif;

    color: var(--color-body);
    background: var(--color-block-body);

    font-size: 14px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-smooth: always;
    -moz-osx-font-smoothing: always;
    -webkit-font-smoothing: antialiased;

    overscroll-behavior-x: none;
    overscroll-behavior-y: auto;
    scroll-behavior: smooth;
    touch-action: manipulation;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a:hover {
    color: var(--color-primary);
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: var(--color-primary);
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.25rem;
}

/* Ugly hack to remove autofill background */
/* https://stackoverflow.com/a/14205976/3142553 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-block-body) inset !important;
}

.mec-wrap p,
.mec-wrap .mec-single-title {
    color: inherit;
    font-family: inherit;
}

.mec-wrap p {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

.mec-wrap .mec-color,
.mec-wrap .mec-color-before :before,
.mec-wrap .mec-color-hover:hover {
    color: var(--color-primary);
}
.mec-month-divider span:before {
    border-color: var(--color-primary);
}

h1,
.mec-wrap h1,
.mec-wrap .mec-single-title {
    font-family: 'Ferrari', sans-serif;
    text-transform: uppercase;
}
