body {
    --color-primary: #cc0003;
    --color-light-block: #d1d1d1;
    --color-block: #1B1B1B;
    --color-block-body: #fafafa;
    --color-body: #0e0e0e;

    --size-page-width: 1256px;

    color: var(--color-body);
    background: var(--color-block-body);
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: var(--color-primary);
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0.25rem;
}
